# Calculate format=samba
[AccountTemplate]
#you can use $DEFAULTDOMAIN here
#domain must be defined before the variables that use it
#by default, domain is extracted from the hostname
domain=taximaxim.ru

#you can use $USERNAME for name (this is the default)
name=#-ur_fullname-#

#you can use $LOGIN, $NAME_MAIL and $DOMAIN here 
#$NAME_MAIL is the name without uppercase and with dots instead
#of spaces
#the default is $NAME_MAIL@$DOMAIN
email=#-ur_login-#@taximaxim.ru

#you can use $DOMAIN here
#the default organization is empty
organization=#-server(mail.organization)-#

#you can use $DOMAIN here 
#the default is smtp.$DOMAIN
smtpserver=smtp.taximaxim.ru

#Whether to use smtp authentication
#the default is 0 (no)
smtpauth=1

#SMTP username
#you can use $LOGIN, $NAME_MAIL, $DOMAIN or $EMAIL here
#the default is empty (same as reception username)
smtpuser=#-ur_login-#@taximaxim.ru

#SMTP password
#the default is empty (same as reception password)
#smtppass=

#recvtype can be:
#0 for pop3
#3  for imap
#5  for a local mbox file
recvtype=3

imap_subsonly=0

#you can use $DOMAIN here 
#the default is {pop,imap}.$DOMAIN
recvserver=imap.taximaxim.ru

#you can use $LOGIN, $NAME_MAIL, $DOMAIN or $EMAIL here
#default is $LOGIN
recvuser=#-ur_login-#@taximaxim.ru

#default is empty
#recvpass=

#imap dir if imap (relative to the home on the server)
#default is empty
#imapdir=

#show subscribed folders only, if imap
#default is TRUE
subsonly=0

#mbox file if local
#you can use $LOGIN here
#default is /var/mail/$LOGIN
#mboxfile=

#mailbox name if pop3 or local
#relative path from the user's home
#default is "Mail"
#mailbox=

#whether to use ssl on smtp connections
#default is 0, 1 is ssl, 2 is starttls
smtpssl=0

#whether to use ssl on pop or imap connections
#default is 0, 1 is ssl, 2 is starttls
recvssl=0

#SSL client certificate path for SMTP
#default is empty (no certificate)
#smtpssl_cert=

#SSL client certificate path for POP/IMAP
#default is empty (no certificate)
#recvssl_cert=

#SSL client certificate password for SMTP
#default is empty (no password)
#smtpssl_cert_pass=

#SSL client certificate password for POP/IMAP
#default is empty (no password)
#recvssl_cert_pass=
