# Calculate format=kde link=/usr/share/gdm/applications/gdmphotosetup.desktop mirror 
[Desktop Entry]
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
