# Calculate format=kde link=/usr/share/applications/Gentoo-system-config-printer.desktop mirror 
[Desktop Entry]
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
