# Calculate format=kde link=/usr/share/applications/xfce4-notifyd-config.desktop mirror 
[Desktop Entry]
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
