# Calculate format=kde belong()!=&&pkg(gnome-base/gdm)!= path=/usr/share/applications
[Desktop Entry]
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
