[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=checkshares
Comment=Bash script for check domain shares availability, mount via automount and add gtk bookmarks.
Exec=/usr/bin/checkshares.sh
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

