# Calculate format=kde belong()!=&&pkg(xfce-extra/xfce4-notifyd)!= path=/usr/share/applications
[Desktop Entry]
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
