# Calculate format=kde belong()!=&&pkg(gnome-extra/nm-applet)!= path=/usr/share/applications
[Desktop Entry]
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
