# Calculate format=kde belong()!=&&pkg(net-print/cups)!= path=/usr/share/applications
[Desktop Entry]
Categories=XFCE;GTK;Settings;DesktopSettings;
Hidden=true
