# Calculate format=kde belong()!=&&pkg(media-video/gnome-mplayer)!= path=/usr/share/applications
[Desktop Entry]
Name[ru]=Видеопроигрыватель Gnome MPlayer
