# Calculate format=kde belong()!=&&pkg(app-admin/system-config-printer-gnome)>=1.3.9 path=/usr/share/applications
[Desktop Entry]
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
