# Calculate format=kde link=/usr/share/applications/urxvt-rxvt-unicode.desktop path=~/.local/share/applications mirror
[Desktop Entry]
Name=terminal
Name[ru]=терминал
Categories=GTK;System;TerminalEmulator;Utility;
