# Calculate format=samba append=replace os_root_type!=livecd
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=1Cv8
Comment=Start 1Cv8 in terminal session
Comment[ru]=Запустить 1Сv8 в терминальном режиме
Categories=Application;
Exec=keyexec rdesktop "-s 'C:\\Program Files\\1cv81\\bin\\1cv8.exe enterprise' -c 'C:\\Program Files\\1cv81\\bin\\' -d TAXIMAXIM -a 16 -g #-os_x11_width-#x#-sum(h,os_x11_height-25)-# -T '1C Предприятие' -S standard -zPNDKE -p - ts2.taximaxim.ru:33390"
Icon=1c
Terminal=false
StartupNotify=false
